<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>from</key>
		<dict>
			<key>userId</key>
			<integer>0</integer>
			<key>nickname</key>
			<string>李二麻子</string>
			<key>avatarUri</key>
			<string>https://tbears-1300872647.cos.ap-beijing.myqcloud.com/group-avatar.png</string>
		</dict>
		<key>ownerType</key>
		<integer>2</integer>
		<key>text</key>
		<string>你好你好你好</string>
	</dict>
	<dict>
		<key>from</key>
		<dict>
			<key>userId</key>
			<integer>0</integer>
			<key>nickname</key>
			<string>李二麻子</string>
			<key>avatarUri</key>
			<string>https://tbears-1300872647.cos.ap-beijing.myqcloud.com/group-avatar.png</string>
		</dict>
		<key>ownerType</key>
		<integer>3</integer>
		<key>text</key>
		<string>你好你好你好</string>
	</dict>
	<dict>
		<key>from</key>
		<dict>
			<key>userId</key>
			<integer>0</integer>
			<key>nickname</key>
			<string>李二麻子</string>
			<key>avatarUri</key>
			<string>https://tbears-1300872647.cos.ap-beijing.myqcloud.com/group-avatar.png</string>
		</dict>
		<key>ownerType</key>
		<integer>2</integer>
		<key>text</key>
		<string>你好你好你好</string>
	</dict>
	<dict>
		<key>from</key>
		<dict>
			<key>userId</key>
			<integer>0</integer>
			<key>nickname</key>
			<string>李二麻子</string>
			<key>avatarUri</key>
			<string>https://tbears-1300872647.cos.ap-beijing.myqcloud.com/group-avatar.png</string>
		</dict>
		<key>ownerType</key>
		<integer>3</integer>
		<key>text</key>
		<string>你好你好你好</string>
	</dict>
	<dict>
		<key>from</key>
		<dict>
			<key>userId</key>
			<integer>0</integer>
			<key>nickname</key>
			<string>李二麻子</string>
			<key>avatarUri</key>
			<string>https://tbears-1300872647.cos.ap-beijing.myqcloud.com/group-avatar.png</string>
		</dict>
		<key>ownerType</key>
		<integer>2</integer>
		<key>text</key>
		<string>你好你好你好</string>
	</dict>
</array>
</plist>
