{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
         "@": "./",
         "@views": "./views",
         "@styles": "./styles",
         "@utils": "./utils"
      }
    }]
  ]
}
